<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/3a678f9d-470a-4b86-aa48-77d56d4cb584/resourceGroups/dici0007/providers/Microsoft.Web/sites/dicioccio</ResourceId>
    <ResourceGroup>dici0007</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://dicioccio.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://dicioccio.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$dicioccio</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>